.hero {
	padding-block-start: 15rem;

	@media (min-width: 765px) {
		padding-block-start: 18rem;
	}

	.btn-secondary {
		margin-block-end: 2rem;

		@media (min-width: 575px) {
			margin-block-end: 0;
		}
	}

	&__wrapper {
		@media (min-width: 575px) {
			display: flex;
			align-items: center;
			gap: 3rem;
		}

		@media (min-width: 992px) {
			flex-wrap: wrap;
		}
	}
}

.hero__container {
	display: grid;
	gap: 5rem;

	@media (min-width: 992px) {
		grid-template-columns: 0.8fr 1fr;
		gap: 0;
		align-items: center;
	}
}

.hero__subtitle {
	background-color: var(--bg-misty-rose);
	color: var(--text-light-coral);
	font-size: var(--fs-7);
	display: flex;
	align-items: center;
	gap: 1rem;
	max-width: max-content;
	padding: 0.8rem 2rem;
	border-radius: var(--radius-pill);

	@media (min-width: 765px) {
		--fs-7: 1.8rem;
		padding: 1rem 3rem;
	}
}

.hero__title {
	margin-block: 2rem;

	@media (min-width: 1200px) {
		margin-block: 3rem;
	}
}
.hero__text {
	margin-block-end: 3rem;

	@media (min-width: 575px) {
		max-width: 42ch;
	}
	@media (min-width: 1200px) {
		margin-block-end: 5rem;
	}
}

.hero__btn {
	color: var(--text-gunmetal);
	font-weight: var(--fw-medium);
	display: flex;
	align-items: center;
	gap: 3rem;
	transition: var(--transition-1);

	@media (min-width: 765px) {
		gap: 3.2rem;
	}

	&-img {
		position: relative;
		width: 60px;
		height: 60px;
		background-color: var(--bg-gainsboro);
		border-radius: var(--radius-circle);
		box-shadow: var(--shadow-1);

		@media (min-width: 765px) {
			width: 80px;
			height: 80px;
		}
	}

	.img-cover {
		border-radius: inherit;
	}
	ion-icon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(50%, -50%);
		background-color: var(--bg-white);
		border-radius: var(--radius-circle);
		padding: 1rem;
		box-shadow: var(--shadow-1);

		@media (min-width: 765px) {
			padding: 1.2rem;
		}
	}

	&:is(:hover, :focus-visible) {
		color: var(--text-majorelle-blue);
	}
}

.hero__banner {
	@media (min-width: 765px) {
		max-width: 550px;
		margin-inline: auto;
	}

	@media (min-width: 992px) {
		max-width: unset;
	}
}
